doctype html
block vars
	- var title = ''
	- var description = ''
	- var keywords = ''

html(lang="cs")
	head
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(name='viewport', content='width=device-width,initial-scale=1')

		title=title

		meta(name='description', content=description)
		meta(name='keywords', content=keywords)
		meta(name='author', content='manGoweb s.r.o. <info@mangoweb.cz> (http://www.mangoweb.cz')

		link(rel='stylesheet', href='/static/styles/index.css', media='screen')
		link(rel='stylesheet', href='/static/styles/print.css', media='print')

		<!--[if lt IE 9]>
		link(rel='stylesheet', href='styles/oldie.css', media='screen')
		script(src='/static/node_modules/lt-ie-9/lt-ie-9.min.js')
		<![endif]-->
		script.
			window.appshell = false

	body.layout
		nav
			h1 PWA
		main(role="main")
			block content
		footer Copyright 2016 Vojta Staněk
		

		script(src="/static/client.js")
		script(src="/static/node_modules/jade/runtime.js")
